#interesting {
    overflow: hidden !important;
}

.nad {
    display: flex;
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 24px;
    font-weight: bold;
    justify-self: center;
}

.carousel_container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 350px;
    align-items: center;
    justify-content: space-between;
}

.img_carousel {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.name {
    text-align: center;
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 14px;
}
.price {
    text-align: center;
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 14px;
    margin-top: -10px;
    font-weight: bolder;

}

#carousel-track {
    margin-top: 50px;
    display: flex;
    /*justify-content: flex-start;*/;
    gap: 50px;
    width: max-content;
    animation: scroll var(--duration) linear infinite;
    overflow: hidden;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-1 * var(--track-width))); }
}

