main {
    margin: 0px;
    padding: 0px;
}

#main-container {
    display: flex;
    height: 120px;
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 34px;
    align-items: center;
    font-weight: bolder;
    margin-left: 12%;


}
#product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -5px;


}

.filters_container {
    display: flex;
    flex-direction: column;

    width: 260px;
    height: 570px;
}


.img_f {
    height: 751px;
    width: auto;
    transform: translateX(37%);
}

.img_b {
    height: 751px;
    width: auto;
}


#interesting {
    margin: 0px;
    padding: 0px;
    background-color: #E5E8F1;
    height: 590px;

}

.name-price{
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 20px;
    font-weight: bolder;
    margin:0px;
}

.product-info {
    color: #494A4B;
    font-size: 14px;
    font-family: "Syne", "Lucida Sans Unicode";
}


.size-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;

}
.size-btn {
    flex: calc(33.3333% - 20px);
    padding: 10px;
    background-color: #DDDEE3;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 10px;
}
.size-btn.active {
    background-color: #375FED;
    color: white;
}

.filters_container p {
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 20px;
}

.details {
    font-size: 15px;
    font-family: "Syne", "Lucida Sans Unicode";
}

.texnical_container {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 570px;
}

.texnical_button {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-wrapper1, .btn-wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 14px;
    align-items: center;
}

.btn1,
.btn2 {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.btn1{
    background-image: url('../../media/images/icons/heart.png');
}

.btn2 {
    background-image: url('../../media/images/texnical/img_btn.png');
}


.color-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

}

.color-btn {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    justify-content: flex-end;
    transition: transform 0.2s ease, border-color 0.2s ease;

}

.color-btn:hover {
    transform: scale(1.1);
}

.color-btn.active {
    transform: scale(1.2);
    border-color: #000;
}






