footer {
    margin: 0;
    padding: 0;
    height: 370px;
    background: #F2F4FA;
}



.f1 {
    display: flex;
    transform: translateY(20px);
    justify-content: space-between;


}

.logo-f1{
    font-size: 18px;
    font-family: "Drunk";
    line-height: min(0px);
    transform: translateX(50px);
}
.social-network {
    display: flex;
    height: 50px;
    gap: 10px;
    transform: translateX(-50px);
}

.f2 {
    display: flex;
    
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;
    margin-top: 100px;
    justify-content: space-between;

    
}

.linkf {
    display: flex;
    gap: 20px;

}
.newslet {
    font-family: "Syne";
    font-weight: bolder;
    font-size: 18px;
}
.linkf a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Syne", "Lucida Sans Unicode";
}


.f3 {
    display: flex;
    justify-content: space-between;
    font-family: "Syne", "Lucida Sans Unicode";

    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;

}
.l_info {
    display: flex;
    gap: 20px;
    color: #B5B7BC;
    line-height: min(10px);
    

}
.r_info {
    color: #B5B7BC;
}



.input_f {
    border: none; 
    border-bottom: 2px solid #333;
    background: transparent;
    outline: none; 
    padding: 5px; 
    width: 100%;
    margin-top: 50px;
}