
.hidden {
    display: none !important;
}

#cart-back {
    display: flex;
    height: 600px;
    width: 900px;
    background-color: #365EE9;
    border-radius: 50px;
    position: relative;

}

.start-animation-back {
    animation: dropRotate 0.8s ease forwards;
}

#cart-head {
    display: flex;
    height: 600px;
    width: 900px;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-animation-head {
    animation: dropIn 0.8s ease forwards;
}

.confirm-img  {
    height: 60px;
    width: 60px;
    margin-bottom: 15%;
}

.emodzi-img  {
    margin-top: 15%;
    height: 60px;
    width: 60px;
    margin-bottom: 10%;
}
.modal-content {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3%;
}
.close-img {
    height: 30px;
    width: 30px;
}

.label_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Syne", "Lucida Sans Unicode";
    color: #375FED;
    font-size: 30px;
}

.label_modal p {
    margin: 0;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes dropIn {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    50% {
        transform: translateY(30px);
        opacity: 0.6;
    }

    90% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dropRotate {
    0% {
        transform: translateY(-250px) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: translateY(30px) rotate(0deg);;
        opacity: 0.6;
    }

    90% {
        transform: translateY(0) rotate(-7deg);;
        opacity: 1;
    }
    100% {
        transform: translateY(0) rotate(-7deg);
        opacity: 1;
    }
}