main {
    margin-top: 70px;
    height: 1660px;
    display: flex;
    justify-content: space-around;

}

#filters {
    width: 200px;
    height: 550px;
}


.catalog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;

}

.img-wrapper {
    position: relative;
    width: 180px;
    height: 381px;
}

.img-wrapper img:not(.info-btn) {
    width: 100%;
    height: 100%;
    border-radius: 82px;
}

.catalog p{
    justify-self: center;
    font-family: "Syne", "Lucida Sans Unicode";
    font-weight: bolder;
}

.name-card {
    font-family: "Syne", "Lucida Sans Unicode";
    font-size: 14px;
}

.product-card {
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 82px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 470px;

}

.info-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.product-card:hover  {
    transform: translateY(-3%);
    overflow: hidden;
    box-shadow: 0 30px 15px rgba(0,0,0,0.25);


}
.product-card:hover .info-btn {
    opacity: 1;
    animation: pulse 1s infinite;

}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
